<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844229422024-bb88ch06rl6lphrdjmjcbmogne7pgmjt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844229422024-bb88ch06rl6lphrdjmjcbmogne7pgmjt</string>
	<key>API_KEY</key>
	<string>AIzaSyBc6CpwkhCwqr7EoEbIkI7GuTfKZawDvX0</string>
	<key>GCM_SENDER_ID</key>
	<string>844229422024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSchoolManagementAdminPanel</string>
	<key>PROJECT_ID</key>
	<string>schoolmanagementsystem-43845</string>
	<key>STORAGE_BUCKET</key>
	<string>schoolmanagementsystem-43845.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844229422024:ios:ec4b0bd89ed3a080eeeefd</string>
</dict>
</plist>